<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titulo</title>
    <%- include("../partials/header") %>
</head>

<body class="d-flex flex-column vh-100">
    <!-- NAVBAR -->
    <%- include("../partials/navbar") %>

    <!-- CONTENIDO -->
    <div style="height: 70px;"></div>
    <%- body %>
    
    <%- include("../partials/scripts") %>
    <%- include("../partials/footer") %>
</body>

</html>